:host{
    height:100%;
    display:grid;
    grid-template-rows: 90% 10%;

    min-width: 0;
     min-height: 0;
}

.chat-view{
    height:90%;
    overflow: scroll;
}

.chat-input {
    padding:5px;
    display: flex;
}

.input-feld{
    flex:5;
}

.button-feld{
    flex: 1;
}

:host mat-card{
    margin:5px;
}

